{% extends "base.html.twig" %}
{% block body %}
 <h1>Bienvenue sur Frogolio <br> le futur des frigos !</h1>
 <div>
    <p>Frigolio est une application web qui va vous permettre de gérer de A à Z un frigo et des recettes variés et nombreuses. Le futur du frigo est à votre porte !</p>
 </div>
{% endblock %}